* {
    color0: #0C0D0C;
    color1: #9e9d9d;
    color2: #e49b8f;
    color3: #efb3ab;
    color4: #F1B5AD;
    color5: #bdcd9e;
    color6: #b3bd9d;
    color7: #f4d6b0;
    color8: #f9e4cc;
    color9: #aabad0;
    color10: #bfd7f4;
    color11: #ffa5a3;
    color12: #F1B5AD;
    color13: #b0ccd1;
    color14: #f8f5f5;
    color15: #e2e1e1;
}